$fontFamily: 'Poppins';

$maxWidthContainer: 1120;
.none {
  display: none;
}
.Header {
  
  .active::before {
    transform: rotate(45deg);
    top: 6px;
  }
  .active::after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
  .active {
    top: 20px;
  }
}

.Header {
  width: 100%;
  padding: 0px 100px;
  top: 0;
  left: 0;
  position: relative;
  background: linear-gradient(0deg, #f7f3f4, #f7f3f4),
    linear-gradient(0deg, #febd2f, #febd2f),
    radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%);

  &__content {
    width: 100%;
 
    height: 112px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #222433;
    &_logo {
      position: relative;

      top: -10px;
      // padding: 0px 150px 0px 100px;
      //   max-width: 100%;

      z-index: 4;

      // float: left;
    }
    @media (max-width: 1200px) {
      padding: 0px;
      &_logo {
        top: 0px;
        // margin-right: 100px;
      }

      &__menu {
        // padding: 0px 80px;
        max-width: 1280px;
        z-index: 10;

        align-items: center;
        justify-content: center;
        &__link {
          &__list {
            li {
              margin: 0px 10px 0px 10px;
              width: 100%;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  &__burger {
    display: none;
  }
  &__before {
    // content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    z-index: 3;
  }
  .svg {
    display: none;
  }
}
.menu {
  //  margin:0px 80px;

  &__body {
    display: flex;
    height: 112px;
  }
  &__list {
    display: flex;

    left: 0;
    right: 0;
    text-align: center;
    justify-content: space-between;

    &_center {
      display: flex;
      justify-content: center;

      margin-top: 20px;
      background-color: #f7f3f4;

      width: 100%;
      @media (max-width: 768px) {
        width: 100%;
        position: absolute;
        height: 100vh;

        font-size: 24px;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        // margin-right: 200px;
        padding: 10px;
        display: flex;
        z-index: 10;

        flex-direction: column;
        flex-wrap: wrap;
      }
    }


    li {
      margin: 30px 70px 200px 0px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      list-style-type: none;
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }
    // @media (max-width: 768px) {
    //   margin-bottom: 400px;
    // }

    @media (max-width: 768px) {
      .Header {
        left: 50%;
        z-index: 101;
        transform: translateX(-50%);
      }
      .menu {
        z-index: 10;
        z-index: 101;
        background-color: #f7f3f4;
        &__body {
         
          position: absolute;
          background: #f7f3f4;

          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          li {
            margin: 0px 0px 10px 0px;
            height: 100px;
          }

          &:last-child {
            margin: 0px;
          }
        }
      }
    }
  }
  &__link {
    font-weight: 400;
    font-size: 16px;
    font-family: $fontFamily;


    color: #000;
    transition: delay 0.3s ease 0s;
    &:hover {
      font-weight: 700;
      color: #000;
    }
    &_button {
   position: relative;
      padding: 13px 48px;
      background: #ffffff;
      border: #ffffff;
      box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
      border-radius: 40px;
      justify-content: flex-end;
  
      color: #000;
      font-weight: 700;
      font-size: 16px;
      top: 20px;
      font-family: $fontFamily;
      &:hover {
        color: #7675fd;
        -webkit-box-shadow: 2px 3px rgba(40, 72, 229, 0.2);
        box-shadow: 2px 3px rgba(40, 72, 229, 0.2);
      }
      @media (max-width: 768px) {
        margin: 0px;
      }
    }
  }
}
.Header:before {
  // content: '';
}
.icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .Header {
    &__burger {
      display: block;
      position: absolute;
      top: 25px;
      width: 30px;
      height: 20px;
      z-index: 6;
      right: 0;
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      float: right;
    }
    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    li {
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: 28px;
      line-height: 1.5;
      color: #000000;
      opacity: 0.8;
      transition: all 150ms linear;
      cursor: pointer;
      text-align: center;
    }
    &__burger span {
      position: absolute;
      background-color: #000;
      left: 0;
      width: 80%;
      height: 3px;
      border-radius: 5px;
      top: 8px;
      transition: all 0.3s ease 0s;
    }
    &__burger::before,
    &__burger::after {
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 3px;
      //   top: 4px;

      border-radius: 5px;

      right: 0;
    }
    &__burger::before {
      top: 0;
    }
    &__burger::after {
      bottom: 0;
    }

    &__menu {
      position: fixed;

      width: 100%;

      background-color: #f7f3f4;
      // padding: 20px 0px 0px 0px;
      top: -100%;
    }
    .menu {
      &__link {
        font-size: 28px;
       
        &_button {
          display: flex;
          text-align: center;
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
        }
      }
      &__list {
      
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}
.active {
  .Header_menu__link {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .Header {
    padding: 0px 0px;
    &__content {
      &_logo {
        top: -5px;
      }
    }
    &__menu {
      align-items: center;
      justify-content: center;

      &__list {
        li {
          margin: 0px 0px 0px 5px;
          width: 100%;
          font-size: 24px;
        }
      }
    }
  }
}
