.Footer {
  background: #f7f3f4;
  padding:0px 100px;
&__block{
    margin-left:90px;
}
  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #333333;
    padding: 90px 160px 30px 90px;
  }
  &__text {
    padding: 0px 160px 30px 90px;

    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.3px;

    color: #333333;
  }
  &__second_title{
    @extend .Footer__title;
    font-size: 20px;
  }
  &__social_media{

    margin-right: 15px;
  }
}
