@import url('https://fonts.googleapis.com/css?family=Poppins:regular,600,400,700&display=swap');
html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}
$fontFamily: 'Poppins';
body {
  font-family: $fontFamily;
  font-style: normal;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}


$maxWidthContainer: 1120;
$minWidth: 320px;
$maxWidth: 1440;
$md1: ($maxWidthContainer + 12) + px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .square {
    animation-name: wipe-enter;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
body {
  p {
    color: #000;
    font-size: 14px;
    font-family: $fontFamily;
    font-style: normal;
  }
  background: #fff;

  &._lock {
    overflow: hidden;
  }
  @media (max-width: $md3) {
    // position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 0px 10px;
  }
}
.ant-input-affix-wrapper {
  border-color: #ffffff;
  outline: 0;
  font-weight: 500;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // &._loaded {
  // }
}
.ant-input-affix-wrapper .ant-input-affix-wrapper-lg {
  transition: all 0.15s ease-in;
  // border: none;
  width: 200px;

  font-family: $fontFamily;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #807c7c;
  /* white */
  border-radius: 40px;
  border: #ffffff;
  border: none;
}
.image-stack {
  // margin:50px 150px;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  
  position: relative;
}
.btn {
  font-family: $fontFamily;
  // display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: #f2726c;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  border: none;
  transition: delay 0.3s ease 0s;
  &:hover{
    transition: delay 0.3s ease 0s;
    -webkit-box-shadow: 2px 3px rgba(40, 72, 229, 0.2);
        box-shadow: 2px 3px rgba(40, 72, 229, 0.2);
        }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 750px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: $md3) {
  .svg {
    // height: 300px;
    // width: 300px;
    // display: block;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 335px;
    top: 52px;
    svg {
      transition: 0.4s;
    
    }
  }
}
  
  .swiper_pagination-current {
	color: rgb(0, 0, 0.2);
  }


  .swiper-button-prev,
  .swiper-button-next {
	cursor: pointer;
  width: 8px;
	height: 15px;
	margin: 0px 600px;
	overflow: hidden;
  &:hover {
		opacity: 0.5;
	}
	transition: opacity 0.3s;

  }
  .swiper-button-hidden{
    transition: scale(1.2);
    }
  .swiper_pagination {
	color: rgba(0, 0, 0, 1);
	font-size: 24px;
  text-align: center;
 
  }
  

  
  .swiper-btns {
	align-items: center;
	justify-content: center;

	display: flex;
	flex-direction: row;

	cursor: pointer;
	top: -140px;
	position: relative;
  }
