@import url('https://fonts.googleapis.com/css?family=Poppins:regular,600,400,700&display=swap');
html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

$fontFamily: 'Poppins';
$maxWidthContainer: 1120;
$minWidth: 320px;
$maxWidth: 1440;
$md1: ($maxWidthContainer + 12) + px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .square {
    animation-name: wipe-enter;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
body {
  p {
    color: #000;
    font-size: 14px;
    font-family: $fontFamily;
    font-style: normal;
  }
  background: #fff;

  &._lock {
    overflow: hidden;
  }
  @media (max-width: $md3) {
    // position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 0px 10px;
  }
}
.ant-input-affix-wrapper {
  border-color: #ffffff;
  outline: 0;
  font-weight: 500;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // &._loaded {
  // }
}
.ant-input-affix-wrapper .ant-input-affix-wrapper-lg {
  transition: all 0.15s ease-in;
  // border: none;
  width: 200px;

  font-family: $fontFamily;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #807c7c;
  /* white */
  border-radius: 40px;
  border: #ffffff;
  border: none;
}
.image-stack {
  // margin:50px 150px;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  
  position: relative;
}
.btn {
  font-family: $fontFamily;
  // display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: #f2726c;
  border-radius: 30px;
  font-weight: 700;
  font-size: 13px;
  border: none;
  transition: delay 0.3s ease 0s;
  &:hover{
    transition: delay 0.3s ease 0s;
    -webkit-box-shadow: 2px 3px rgba(40, 72, 229, 0.2);
        box-shadow: 2px 3px rgba(40, 72, 229, 0.2);
        }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 750px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: $md3) {
  .svg {
    // height: 300px;
    // width: 300px;
    // display: block;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 335px;
    top: 52px;
    svg {
      transition: 0.4s;
      // &:hover {
      //   // fill: red;
      // }
    }
  }
}
.Carousel {
  // padding: 500px;
  // margin:300px;
  background: #ffbd9e;
  justify-content: center;
  &__arrow {
    cursor: pointer;
    padding: 5px;
  }
  // display: inline-block;
}

.swiper {
  width: 100%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.item-svg {
  z-index: 2;

}
// .item_img{
//   width: 700px;
//   height: 700px;
// }
.slide_bg_1 {
  z-index: 2;

  image {
    // width: 100px;
  }
}
.swiper-slide-active {
  .morph_container {
    .slide_duble_title {
      position: absolute;
      z-index: -4;
      color: rgb(183, 58, 58);
    }
  }
}

.swiper-slide-active {
  .slide-duble-title {
    z-index: -4;
  }
  // .{
  //   color:red;
  // display: none;

  .item-svg {
    // width: 200px;
    position: absolute;
    z-index: 3;
    display: block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom:80px;
    margin-right: 120px;
  }
  .slide_bg_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    height: 100%;
    z-index: 2;
    // transform: scale(0.6);
    transform: scale(1.8);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  img {
    width: 50px;
  }
  width: 100px;
  image {
    display: none;
  }
  transform: scale(2); // увеличение на 20%
  //   transition: transform .2s ease;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-wrapper {
  // width: 1000px;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;

}

.swiper_pagination {
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
}

.swiper_pagination-current {
  color: rgb(0, 0, 0);
}

.swiper-btns {
  align-items: center;
  justify-content: center;
  // cursor: pointer;
  // display: inline-block;
  display: flex;
  flex-direction: row;
  // width: 400px;
  // left:320px;
  cursor: pointer;
  top: -65px;
  position: relative;
}
.mySwiper {
  padding: 100px;
  height: 500px;
}
.swiper-pagination .swiper-pagination-fraction .swiper-pagination-horizontal {
  bottom: 100px;
}
.swiper-btn-next {
  cursor: pointer;
  // left:50px;
  margin: 30px;
  overflow: hidden;
}
.swiper-btn-prev {
  cursor: pointer;
  overflow: hidden;
  margin: 30px;
}
.swiper-button-prev {
  left: 63% !important;
  top: 40% !important;
  transform: rotate(90deg);
  transform-origin: left center;
}
.swiper-button-next {
  left: 63% !important;
  bottom: 49% !important;
  transform: rotate(90deg);
  transform-origin: left center;
}
.content {
  z-index: 3;
}