// @import "./fonts/style";

@import url('https://fonts.googleapis.com/css?family=Poppins:regular,600,400,700&display=swap');
$fontFamily: 'Poppins';
$maxWidthContainer: 1120;
$minWidth: 320px;
$maxWidth: 1440;
$md1: ($maxWidthContainer + 12) + px;
$md2: 992px;
$md3: 768px;
$md4: 480;
// @import "icon";
body {
  background: linear-gradient(0deg, #F7F3F4, #F7F3F4), linear-gradient(0deg, #FEBD2F, #FEBD2F), radial-gradient(178.57% 327.71% at 110.1% 3.35%, #FF605B 0%, #FFEE30 100%) ;
  color: #000;
  font-size: 14px;
  font-family: $fontFamily;
  &._lock {
    overflow: hidden;
  }
  @media (max-width: $md3) {
    // position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 0px 10px;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}

.none {
  display: none;
}
.Header {
  &__content {
    max-width: 1280px;
    padding: 0px 6px;
    margin: 0 auto;
  }
  &__menu {
    margin: 0px 80px;
  }
}
.svg {
  display: none;
}

.menu {
  //  margin:0px 80px;

  &__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__list {
    display: flex;

    &_logo {
      // margin:0px 80px;
      margin: 0px 250px 0px 0px;
      justify-content: flex-start;
      // float: left;
    }
    &_center {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $md3) {
        float: left;
        margin: 0px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    height: 112px;
    align-items: center;
    @media (max-width: $md3) {
      height: 100%;
      align-items: center;
    }
    // justify-content: center;
    li {
      margin: 0px 0px 0px 100px;

      list-style-type: none;
      a {
        text-decoration: none;
      }
    }

    @media (max-width: $md3) {
      // height: 110px;
      //   display: flex;
      // flex-flow: column wrap;
      // display: block;
      // col
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      li {
        margin: 0px 0px 10px 0px;
      }
      &:last-child {
        margin: 0px;
      }
    }
  }
  &__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    // line-height: 32px;
    padding: 20px 0;
    color: #000;
    transition: delay 0.3s ease 0s;
    &:hover {
      font-weight: 700;
    }
    &_button {
      padding: 13px 48px;
      background: #ffffff;
      border: #ffffff;
      box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
      border-radius: 40px;
      justify-content: flex-end;
      margin: 0px 0px 0px 200px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      font-family: $fontFamily;

      @media (max-width: $md3) {
        margin: 0px;
      }
    }
  }
}
.icon-menu {
  display: none;
}
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 750px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: $md3) {
  .svg {
    // height: 300px;
    // width: 300px;
    // display: block;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 335px;
    top: 52px;
    svg {
      transition: 0.4s;
      &:hover {
        // fill: red;
      }
    }
  }
}
