.Carousel {
  background: #ffbd9e;
  justify-content: center;
  &__arrow {
    cursor: pointer;
    padding: 5px;
  }
  height: 600px;
  padding: 100px 0px;
  // display: inline-block;
}
._container {
  align-items: center;
}

.slide_item {
//   height: 503px;
//   width: 600px;
  position: relative;

  @media screen and (max-width: 640px) {
    //height: 300px;
  }
}

.item_img {
  filter: brightness(85%);
}

.slide_bg {
  position: absolute;
  margin-top: 30px;
  transform: scale(1.2);
  // margin:0px 0px;
}
.active_photo {
  position: absolute;
  transition: 0.3 ease-in-out;
  transition: transform 0.2s ease;
  width: 100px;
  height: 100px;
  top: 0px;
  // z-index: 6;
}

.swiper-slide-active .container {
  transform: scale(2); // увеличение на 20%
  transition: transform 0.2s ease;
}

.slide_text {
  // 	font-weight: 400;
  // font-size: 10px;
  // 	text-align: center;
  // 	color: #1e1a20;
  // 	opacity: 0.9;
  // 	max-width: 170px;
  text-align: center;
  // width: 100%;
  // height: 100%;
  width: 220px;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  margin-top: 150px;
}

.slide_title {
  position: absolute;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  mix-blend-mode: normal;
  text-align: center;
  // width: 100%;
  // height: 100%;
  // position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  z-index: 3;
  margin-left: 35px;
  margin-top: 100px;
}

// .slide_no_title{
// 	@extend .slide_title;
// }
.slide_active_title {
  @extend .slide_title;
  margin-left: 80px;

  color: #000;
}
// .slide_text {
// 	font-weight: 400;
// font-size: 10px;
// 	text-align: center;
// 	color: #1e1a20;
// 	opacity: 0.9;
// 	max-width: 170px;
// }
.slide_no_text {
  opacity: 0;
}
// .swiper-pagination {
// 	text-align: center;
// }
// .swiper-button-prev {
//     color: red;
// }

// .swiper-button-next {
//     color: #000;
// }
// .navigation_container {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	padding-top: 32px;
// }

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 4px solid #000000;
  color: #000000;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-wrapper {
  // width: 1000px;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  margin: 30px;
  overflow: hidden;
}

.swiper_pagination {
  color: rgba(0, 0, 0, 0.2);
  font-size: 30px;
}

.swiper_pagination-current {
  color: rgb(0, 0, 0);
}

.swiper-btns {
  align-items: center;
  justify-content: center;
  // cursor: pointer;
  // display: inline-block;
  display: flex;
  flex-direction: row;
  // width: 400px;
  // left:320px;
  cursor: pointer;
  top: -65px;
  position: relative;
}
.mySwiper {
  padding: 100px;
  height: 500px;
}

.content {
  z-index: 3;
}
